@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #edf2fd;
    font-weight: 500;
  }
}
.custom-radio input:checked ~ div {
  @apply bg-blue-500;
}

.custom-checkbox input:checked ~ div {
  @apply bg-blue-500;
}

.custom-checkbox input:checked ~ div svg {
  @apply text-white block;
}

.custom-radio .spinner {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}
